In [3]:
import pandas as pd

dt = pd.read_csv("Iris.csv")
dt

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_iris

In [6]:
x, y = iris.data, iris.target

NameError: name 'iris' is not defined

In [9]:
X = dt.drop('Species' , axis=1)
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [10]:
y = dt['Species']
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

#0.3 means that 30% is for test and the other 70% is for train

In [12]:
X_train.shape

X_test.shape

y_train.shape

y_test.shape

(105, 5)

# LOGISTIC REGRESSION

In [16]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train , y_train)

C:\desktop\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression()

In [17]:
y_pred = lr.predict(X_test)
y_pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [18]:
y_test     #actual answers

68     Iris-versicolor
145     Iris-virginica
62     Iris-versicolor
48         Iris-setosa
134     Iris-virginica
137     Iris-virginica
114     Iris-virginica
77     Iris-versicolor
144     Iris-virginica
118     Iris-virginica
149     Iris-virginica
5          Iris-setosa
71     Iris-versicolor
65     Iris-versicolor
29         Iris-setosa
14         Iris-setosa
146     Iris-virginica
13         Iris-setosa
8          Iris-setosa
17         Iris-setosa
136     Iris-virginica
74     Iris-versicolor
133     Iris-virginica
89     Iris-versicolor
53     Iris-versicolor
12         Iris-setosa
91     Iris-versicolor
116     Iris-virginica
121     Iris-virginica
98     Iris-versicolor
43         Iris-setosa
96     Iris-versicolor
21         Iris-setosa
56     Iris-versicolor
15         Iris-setosa
30         Iris-setosa
50     Iris-versicolor
126     Iris-virginica
1          Iris-setosa
80     Iris-versicolor
67     Iris-versicolor
72     Iris-versicolor
9          Iris-setosa
42         Iris-setosa
139     Iris-virginica
Name: Species, dtype: object

In [19]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0

In [20]:
lr_acc = accuracy_score(y_test, y_pred)
print(lr_acc)

1.0

In [21]:
results = pd.DataFrame()
results

Empty DataFrame
Columns: []
Index: []

# RANDOM FOREST CLASSIFIER

In [23]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)

RandomForestClassifier()

In [24]:
y_pred = rfc.predict(X_test)
y_pred

array(['Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica'], dtype=object)

In [25]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred, y_test))

1.0

In [26]:
rfc_acc = accuracy_score(y_test, y_pred)
print(rfc_acc)

1.0

In [27]:
#COMAPRING THE ACCURACY BETWEEN BOTH THE ALGO

tempResults = pd.DataFrame({'Algorithm':['Random Forest Classifier Model'], 'Accuracy':[rfc_acc]})
results = pd.concat([results, tempResults])
results= results[['Algorithm','Accuracy']]
results

                        Algorithm  Accuracy
0       Logistic Regression Model       1.0
0  Random Forest Classifier Model       1.0